.hidden {
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .overlay.opened {
    display: block;
    z-index: 10;
}
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 20;
  }
  
  .popup__content h2 {
    width: 330px;
    font-weight: 900;
    font-size: 20px;
    margin: 0;
    padding: 34px 64px 0 36px;
    font-family: "Inter", sans-serif;
  }
  
  .popup__form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    border: 0;
  }
  
  .popup__name{
    width: 358px;
    margin: 54px 37px 0 35px;
    border: 0;
    height: 27.26px;
    border-bottom: 1px solid #ccc;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;


  }

  .popup__about {
    width: 358px;
    margin: 29.74px 37px 0 35px;
    border: 0;
    height: 27.34px;
    border-bottom: 1px solid #ccc;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
  
  .popup__save:disabled {
    background-color: #fff;
    color: #C4C4C4;
    border: none;
    margin: 38px 36px 36.51px 36px;
    width: 358px;
    height: 50.15px;
    border: 1px solid;
    border-color: #C4C4C4;

  }
  
  .popup__save:enabled {
    background-color: #000;
    color: #fff;
    width: 358px;
    cursor: pointer;
    margin: 30px 36px 36.51px 36px;
    width: 358px;
    height: 50.15px;
    border: 1px solid;
  }
  
  .popup__save:enabled:hover{
    background-color: #444;
    transform: scale(1.02);
  }

  .popup__error_visible {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
    font-family: "Inter", sans-serif;
    margin: 0 37px 0;
    padding-top: 2px;
}

.popup__input_type_error {
    border-color: red;
}


.popup__close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.popup__close:hover{
  opacity: 0.6;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.popup__close img {
  width: 36px;
  height: 36px;
  object-fit: contain;
  pointer-events: auto;
}
